# farmer/plotter user
user = chia

# farm dir (mount dir for multiple drives)
farm = /home/chia/farm

# temp dir (with mounted NVMe)
temp = /home/chia/temp 

# temp2 dir (with mounted RAM Drive)
ram = /home/chia/ram

# farmer public key, from 'chia keys show'
fpk = 88cbed9eb6b92d75f4073c65ca231e81f4a95057f4b9c5461997170e71adcbebe2a0eacbba2a0153ec936cfbe2f32e8f

# pool contract address
nft = xch18kspvxwzth2ssyup97qc642unxe0k2fljkrkslzmvxu3zqfja88sqwzghg

# num of threads for one job
threads = 4

# enable debug mode 
debug = false

# maximum count of move process
max_count = 4

# count move process to one destination folder (single drive)
dst_count = 1

